<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

    <script type="text/javascript">
        $(document).ready(function(){
            var file = document.getElementsByName('files');
            file.forEach(function(f) {
                f.addEventListener('change', function() {
                    console.log(f.files);
                });
            });

            var upFile = document.getElementById('upFile');
            upFile.addEventListener('click', function() {
                sggFileUpLoad('fileForm2');
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container" id="showPath">

        </div>
    </section>

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="btnFrm">
                <input type="button" value="작성" id="btnWrite">
            </div>
            <br><br><br>

            <div class="section-title">
                <h2>공통코드</h2>
            </div>

            <div class="row">

                <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="php-email-form" id="frmNewAccount">
                        <form action="upLoadFile" method="post" id="fileForm" enctype="multipart/form-data">
                            <input type="file" multiple="multiple" name="files">
                            <input type="submit" value="test">
                        </form>
                    </div>
                </div>

                <h2>ajax</h2>
                <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="php-email-form">
                        <form id="fileForm2" enctype="multipart/form-data">
                            <input type="file" multiple="multiple" name="files">
                            <input type="file" multiple="multiple" name="files">
                            <input type="button" value="test" id="upFile">
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->


</div>

</body>
</html>