<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sggProgramDesign</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container" id="showPath">
            </div>
        </section>

    </main><!-- End #main -->

</div>
</body>
</html>