#topMenu {
    height: 40px;
    width: 850px;
}
#topMenu ul li {
    list-style: none;
    color: white;
    background-color: #2d2d2d;
    float: left;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}
#topMenu .menuLink {
    text-decoration:none;
    color: white;
    display: block;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
}
#topMenu .menuLink:hover {
    color: red;
    background-color: #4d4d4d;
}
#footer {
    margin-top: 50px;
    height: 150px;
    background-color: #2d2d2d;
    display: block;
}
#header {
    margin-bottom: 50px;
    height: 150px;
    background-color: #2d2d2d;
}
#content {
    margin-left: 50px;
}
#bottom {
    padding-top: 50px;
    text-align: center;
    color: white;
}