<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGG</title>

    <script type="text/javascript" th:src="@{/js/learn/learnJava.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container" id="showPath">
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>JAVA</h2>
                    <p>해당 프로젝트를 진행하면서 메모메모</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <div class="php-email-form">
                            <div id="codeLine">
                                <textarea>a</textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->
    </main>
</div>
</body>
</html>