<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGG</title>

    <script type="text/javascript" th:src="@{/js/login/login.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <section id="about" class="about">
        <div id="subsLogin">
            <div class="subsLogin-newsletter">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h4>로그인</h4>
                            <div class="loginFrm" id="idDiv">
                                <input type="id" id="loginId" name="loginId" placeholder="아이디"><input type="button" value="login" id="idChk">
                            </div>
                            <div class="loginFrm" id="pwDiv">
                                <input type="password" id="loginPw" name="loginPw" placeholder="비밀번호"><input type="button" value="login" id="pwChk">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p id="loginFail"></p>
            </div>
        </div>
    </section>
</div>
</body>
</html>