<!DOCTYPE html>
<html lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sggProgramDesign</title>
</head>
<body>
    <div layout:fragment="content">
        <main id="main">

            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container" id="showPath">
                </div>
            </section>

            <section class="inner-page">
                <div class="container">
                    <section id="pricing" class="pricing">
                        <div class="container" data-aos="fade-up">

                            <div class="section-title">
                                <h2>프로그램 설계서용 쿼리 분석 프로그램</h2>
                                <p>복사한 쿼리를 왼쪽 박스에 더블클릭 시 자동으로 변환, 복사됨</p>
                                <p style="color:red;">해당 서버에서 클립보드가 동작하지 않아서 수동 복사, 붙여넣기 필요</p>
                                <p>초기화 하지 않고 계속 쿼리 변환시 매개변수 컬럼, 테이블, 반환값, 매개변수 점점 쌓임</p>
                            </div>

                            <div class="typeFrm">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="type" value="oracleMybatis" id="oracleMybatis" checked>
                                    <label class="form-check-label" for="oracleMybatis">
                                        오라클 마이바티스
                                    </label>
                                </div>
                            </div>

                            <div class="writeFrm">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="writeChk" checked>
                                    <label class="form-check-label" for="writeChk">
                                        산출물 양식 사용
                                    </label>
                                </div>
                                <label>순번<input type="number" value=1 id="writeNo"></label>
                                <label>제목<input type="text" id="writeHead"></label>
                                <button type="button" class="btn btn-sm btn-primary" onclick="btnReset()">초기화</button>
                            </div>

                            <br>

                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" value="" id="tblFrmChk" onchange="chkFrm()">
                                <label class="form-check-label" for="tblFrmChk">
                                    테이블 양식 사용
                                </label>

                            </div>

                            <br>

                            <div id="tblFrmT" style="display: none;">

                                <div class="tblFrm" id="tblDiv">
                                    <label>테이블 양식<input type="text" id="tableFrm0" name="tableFrm"></label>
                                </div>

                                <br>

                                <button type="button" class="btn btn-sm btn-primary" onclick="newTableFrm()">테이블 양식 추가</button>
                                <button type="button" class="btn btn-sm btn-primary" onclick="resetTableFrm()">테이블 양식 초기화</button>

                            </div>

                            <div class="row">

                                <div class="col-xl" data-aos="fade-up" data-aos-delay="100">
                                    <div class="box">
                                        <h3>변환할 쿼리</h3>
                                        <textarea class="form-control" name="message" rows="20" id="txtQueryBefore" ondblclick="paste()" required></textarea>
                                    </div>
                                </div>

                                <div class="col-xl" data-aos="fade-up" data-aos-delay="100">
                                    <div class="box">
                                        <h3>변환후 쿼리</h3>
                                        <textarea class="form-control" name="message" rows="20" id="txtQueryAfter" required></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="box">
                                        <h3>매개변수 컬럼</h3>
                                        <textarea class="form-control" name="message" rows="20" id="param" required></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="box">
                                        <h3>테이블</h3>
                                        <textarea class="form-control" name="message" rows="20" id="tab" required></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="box">
                                        <h3>반환값</h3>
                                        <textarea class="form-control" name="message" rows="20" id="sel" required></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="box">
                                        <h3>매개변수</h3>
                                        <textarea class="form-control" name="message" rows="20" id="parameter" required></textarea>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section><!-- End Pricing Section -->

                </div>
            </section>
        </main><!-- End #main -->

    </div>
</body>
</html>