<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgg.index.mapper.IndexMapper">

    <!-- 소개 목록 불러오기 -->
    <select id="getLine" parameterType="map" resultType="resultMap">
        /* com.sgg.menu.mapper.MenuMapper.getLine */
        SELECT LINE_NO
            , CONTENT_DTL
            , USER_ID
            , DEL_YN
        FROM SGG_PRJ_LINE
        WHERE 1 = 1
        AND DEL_YN = 'N'
        ORDER BY LINE_NO
    </select>

    <!-- 소개 내용 불러오기 -->
    <select id="getPre" parameterType="map" resultType="resultMap">
        /* com.sgg.menu.mapper.MenuMapper.getPre */
        SELECT PRE_NO
            , PRE_HEAD
            , PRE_DTL
            , USER_ID
            , DEL_YN
        FROM (
            SELECT *
            FROM SGG_PRE
            WHERE 1 = 1
            AND DEL_YN = 'N'
            ORDER BY DBMS_RANDOM.VALUE
        )
        WHERE ROWNUM = 1
    </select>

    <!-- contact 내용 -->
    <select id="getContact" parameterType="map" resultType="resultMap">
        WITH SNS AS
        (
        SELECT A1.TEL_NO
            , A1.EMAIL
            , DECODE(A2.SNS, 'github', A2.SNS_ADDR) AS GITHUB
            , DECODE(A2.SNS, 'kakaotalk', A2.SNS_ADDR) AS KAKAO
            , A2.SNS_NO
            , A1.CITY
        FROM SGG_USER_INFO A1
            , SGG_USER_SNS A2
        WHERE 1 = 1
        AND A1.USER_ID = A2.USER_ID
        AND A1.DEL_YN = 'N'
        AND A2.DEL_YN = 'N'
        AND A1.USER_ID = 'sgg'
        AND (A2.SNS = 'github' OR A2.SNS = 'kakaotalk')
        )
        SELECT TEL_NO
            , EMAIL
            , GITHUB
            , KAKAO
            , CITY
        FROM (
            SELECT TEL_NO
                , EMAIL
                , CITY
                , GITHUB
                , CASE WHEN KAKAO IS NULL THEN LEAD(KAKAO) OVER(ORDER BY SNS_NO)    /* LEAD 다음 열 가져오기 */
                        ELSE KAKAO
                        END AS KAKAO
            FROM SNS
        )
        WHERE GITHUB IS NOT NULL
    </select>
</mapper>