<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgg.menu.mapper.MenuMapper">

    <!-- 메뉴목록 불러오기 -->
	<select id="getMenu" parameterType="map" resultType="map">
        /* com.sgg.menu.mapper.MenuMapper.getMenu */
        SELECT LEVEL LEV
            , MENU_ID
            , MENU_NAME
            , UP_MENU_ID
            , MENU_NO
            , MENU_PATH
            , USER_AUTH
            , DEL_YN
        FROM SGG_MENU a1
        WHERE 1 = 1
        AND USER_AUTH <![CDATA[ <= ]]> #{userAuth}
        AND MENU_NO <![CDATA[ > ]]> 0
        AND DEL_YN = 'N'
        START WITH UP_MENU_ID IS NULL
        CONNECT BY UP_MENU_ID = PRIOR MENU_ID
        ORDER SIBLINGS BY MENU_NO
    </select>
</mapper>